@import url('reset.css');

//basic
@import 'sass/basic/breakpoint';
@import 'sass/basic/color';
@import 'sass/basic/font';
@import 'sass/basic/spacing';
@import 'sass/basic/var';

// mixin
@import 'sass/mixin/mixin';

// component
@import 'sass/component/btn';
@import 'sass/component/from';
@import 'sass/component/tab';

// layout
@import 'sass/layout/header';
@import 'sass/layout/footer';
@import 'sass/layout/login';
@import 'sass/layout/nav';
@import 'sass/layout/sidebar';

//page
@import 'sass/page/main';
@import 'sass/page/about';
// @import 'sass/page/product';

// plugin
@import  'sass/plugin/bootstrap';

*{
    /* 避免圖片跑版(LOGO) */
    box-sizing: border-box;
}

html {
    font-size: $bodyfont;
    font-family: $fontTC;

    background: url('./img/BGI.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body{
    max-width: 1440px;
    list-style: none;
    margin: 0 auto;
}