// color
$primary :  #2E5B4A;

$secondary1 : #9B5AF6;
$secondary2 : #F5E9D8;
$secondary3 : #E5E5E5;
$secondary4 : #6B705C;


$success : #22C55E;
$warning : #F59E0B;
$error : #EF4444;

$white: #fcfcfc;
$black : #0f0f0f;