// color
$primaryGreen :  #2E5B4A;
$primaryYellow: #E4C600;

$secondaryBeige : #F5E9D8;
$secondaryGrey : #E5E5E5;
$secondaryGreen : #6B705C;


$success : #22C55E;
$warning : #F59E0B;
$error : #EF4444;

$white: #fcfcfc;
$black : #0f0f0f;