// font 字體大小
$bodyfont : 16px;   // basicfont

$font:(
    h1 : 3rem,     // 48px 頁面主標題
    h2 : 2.5rem,   // 40px 區塊標題
    h3 : 2rem,     // 32px 卡片標題
    h4 : 1.5rem,   // 24px 內文標題
    p : 1rem       // 16px 內文
);

//  字型
$fontFamily:'微軟正黑體';